* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
}

body {
        background-color: hsl(212, 45%, 89%);
}

p {
    font-size: 15px;
}

.container {
    display: flex;
    width: 1440px;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.card { 
    height: 470px;
    width: 300px;   
    background-color: hsl(0, 0%, 100%);
    box-shadow: 10px 10px 30px -20px hsl(220, 15%, 55%);
    border-radius: 7%;
}

.qr-code {
    display: block;
    width: 90%;
    margin: auto;
    margin-top: 13px;
    border-radius: 7%;
}

.card-title {
    font-weight: 700;
    text-align: center;
    padding-top: 20px;
    color: hsl(218, 44%, 22%)
}

.card-text {
    font-weight: 400;
    text-align: center;
    padding: 20px 20px;
    color: hsl(220, 15%, 55%);
}

.attribution {

    text-align: center;

}

@media (max-width: 375px) {
    .container{
        width: 375px;
        background-color: red;
    }

}